/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-image: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --accent-text-color: #353430;
  --accent-header-color: #ffc2e6;
  --accent-header-color-shadow: #ff0070;

  --main-font-family: 'IBM Plex mono', sans-serif;
  --display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --accent-text-color: #353430;
    --accent-header-color: #ffc2e6;
    --accent-header-color-shadow: #ff0070;
  
    --main-font-family: 'IBM Plex mono', sans-serif;
    --display: none;
  }
  
  .page.theme_auto {
    background-image: url(../images/cover-image-light.png);
  }

  .page.theme_auto .decorated-zone::before {
    border-top: 1px solid var(--text-color);
    border-right: 1px solid var(--text-color);
  }
  
  .page.theme_auto .decorated-zone::after {
    border-bottom: 1px solid var(--text-color);
    border-left: 1px solid var(--text-color);
  }
  
  .page.theme_auto .header__title {
    text-shadow: 4px 4px 0 var(--accent-header-color-shadow);
  }

  .page.theme_auto .header__theme-menu-button {
    color: var(--text-color);
  }
  
  .page.theme_auto .header__theme-menu-button:hover {
    cursor: pointer;
    outline: 1px solid var(--text-color);
  }
  
  .page.theme_auto .header__theme-menu-button:focus-visible {
    outline: none;
    border-block-end: 1px solid var(--text-color);
    margin-block-end: -1px;
  }
  
  .page.theme_auto .header__theme-menu-button_active {
    pointer-events: none;
    outline: 1px solid var(--text-color);
  }
  
  .page.theme_auto .main__thematic-block_header {
    color: var(--text-color);
  }
}

.page.theme_light .decorated-zone::before {
  border-top: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
}

.page.theme_light .decorated-zone::after {
  border-bottom: 1px solid var(--text-color);
  border-left: 1px solid var(--text-color);
}

.page.theme_light .header__title {
  text-shadow: 4px 4px 0 var(--accent-header-color-shadow);
}

.page.theme_light .header__theme-menu-button {
  color: var(--text-color);
}

.page.theme_light .header__theme-menu-button:hover {
  cursor: pointer;
  outline: 1px solid var(--text-color);
}

.page.theme_light .header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--text-color);
  margin-block-end: -1px;
}

.page.theme_light .header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--text-color);
}

.page.theme_light .main__thematic-block_header {
  color: var(--text-color);
}

.page.theme_light .footer__title {
  text-shadow: 2px 2px 0 var(--accent-header-color-shadow);
}